* {
    box-sizing: border-box; /*?*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #b0e0e6;
}

header h1 {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px; /*element adjust.*/
    margin-bottom: 25px;
    color: #941010;
}

.buttons h3 {
    color: #941010;
}


#info-container {
    display: flex;
    justify-content: center; /*affects flex items*/
    
}

#sketch-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
/* he added these after refering them?*/
.grid-divs {
    background-color: white;
    display: flex;
    border: #DCDCDC solid 1px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /*?*/
    margin-right: 30px;
    font-family: 'Rubik Bubbles', cursive;
}

button {
    font-size: 15px;
    padding: 15px;
    background-color:#ffefd5;
    border: #DCDCDC solid 1px;
    border-radius: 10px;
}

button:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}

#reset{
    margin-top: 20px;
    background-color: #ffdab9;
}

#reset:hover {
    background-color: #C0C0C0;
    cursor: pointer; /*type of cursor of hoov.*/
}